{% extends 'base.html.twig' %}
{% block title %}Create new post{% endblock %}
{% block body %}
    <h1>Create post</h1>

    {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.body) }}

        <button type="submit">Create post</button>

    {{ form_end(form) }}
{% endblock %}