<nav>
    <ul style="float: left;">
        <li><a href="{{ path('homepage') }}">Home</a></li>

    </ul>

    <ul style="float: right;">
        {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
            <li><a href="{{ path('login') }}">Login</a></li>
        {% endif %}

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <li><a href="{{ path('user_account') }}">Account</a></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
        {% endif %}
    </ul>

    <div style="clear: both"></div>
    <hr/>
</nav>